@using Syncfusion.EJ2
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
    <div class=" control-section">
        <div id="wrapper" class="datepicker-section">
            <div id="datepicker-control">
                <ejs-datepicker id="datepicker" placeholder="Choose a Date"></ejs-datepicker>
            </div>
        </div>
    </div>
